<form #formulario="ngForm" (ngSubmit)="enviar()">
    <div class="alert alert-danger" role="alert" *ngIf="errors.length>0">
        <span *ngFor="let error of errors"> {{error.fecha}} {{error.estado}} {{error.mensaje}}</span>
    </div>
    <div class="card">
        <div class="col">
            <!--Text-->
            <fieldset>
                <legend>Datos del movimiento</legend>
                <!-- Etiqueta / Campo "Nombre" -->
                <div class="form-group row">
                    <label for="name" class="col-3">Nombre</label>
                    <input type="text" class="form-control col-6" #nameState="ngModel" name="nombre" id="nombre" [(ngModel)]="movimiento.nombre" required minlength="3" placeholder="Indica tu nombre (es obligatorio)">
                </div>
                <!--
                <div [hidden]="nameState.valid || nameState.untouched ">
                    <div class="error-message" [hidden]="!nameState.errors?.required">
                        El nombre es obligatorio</div>
                    <div class="error-message" [hidden]="!nameState.errors?.minlength">
                        El nombre debe tener un mínimo de 3 caracteres
                    </div>
                </div>
                -->
                <!--Etiqueta / Campo "tipo"-->
                <div class="form-group row">
                    <label for="autor" class="col-3">Tipo</label>
                    <input type="text" class="form-control col-6" id="autor" name="autor" [(ngModel)]="movimiento.tipo" required placeholder="Indica el tipo (es obligatorio)">
                </div>

                <!--Etiqueta / Campo "importe"-->
                <div class="form-group row">
                    <label for="autor" class="col-3">Importe</label>
                    <input type="number" class="form-control col-6" id="precio" name="precio" [(ngModel)]="movimiento.importe" required placeholder="Indica el importe (es obligatorio)">
                </div>

            </fieldset>
            <div class="form-group col">
                <button type="submit" class="btn btn-primary mr-2"
                    [disabled]="formulario.invalid">
                    Enviar</button>
                <button type="reset" class="btn btn-primary"
                    [disabled]="formulario.pristine">
                    Borrar</button>
            </div>
        </div>
    </div> 
</form>

<pre>{{ errors | json }}</pre>