<div class="container">
    <div class="row">
        <div class="col"> 
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="nav navbar-nav">
                    <a class="nav-link" routerLink="home" routerLinkActive="active">Inicio</a>
                    <a class="nav-link" routerLink="productos" routerLinkActive="active">Productos</a>
                    <a class="nav-link" routerLink="clientes" routerLinkActive="active">Clientes</a>
                    <a class="nav-link" routerLink="about" routerLinkActive="active">Acerca de</a>
                </div>
            </nav>
        </div>
    </div>
</div>
