<div class="container">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
              <label>{{msnapp.buscador}}:</label>
              <input type="text" class="form-control col-12" #nameState="ngModel" name="nombre" id="nombre" 
              [(ngModel)]="nombre" (change) = "buscarCategorias()" required 
                minlength="3" placeholder="nombre de la categoria">
          </div>
          <div class="col-sm-2 left">
            <label>&nbsp;</label><br>
            <button type="submit" class="btn btn-primary mr-2 left" (click) = "buscarCategorias()"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; {{msnapp.botonBuscar}}</button>
          </div>
            <div class="col">
                <a href="#" class="btn btn-outline-secondary right" routerLink="nueva"><span ><i class="fas fa-plus"></i> Nueva</span></a>
            </div>
        </div>
    </div>
    <hr>          
    <ngb-pagination style="float: right;" [(page)]="page" [pageSize]="pageSize" [collectionSize]="aCategorias.length"></ngb-pagination>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{{msn.codigo}}</th>
          <th>{{msn.nombre}}</th>
          <th>{{msn.descripcion}}</th>
          <th>{{msn.fechaCreacion}}</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let categoria of aCategorias | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td>{{categoria.id}}</td>
          <td>{{categoria.nombre}}</td>
          <td>{{categoria.descripcion}}</td>
          <td>{{categoria.fechaCreacion | date:'short'}}</td>
          <td>
            <span class="left">
              <a href="#" routerLink="borrar"><i class="far fa-trash-alt"></i></a>
              &nbsp;
              <a href="#" routerLink="editar/{{categoria.id}}"><i class="far fa-edit"></i></a>
          </span>
          </td>
        </tr>
        <tr *ngIf="errors.length>0">
          <td colspan="5">
              <span *ngFor="let error of errors"> {{error.fecha}} {{error.estado}} {{error.mensaje}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  