<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <input type="text" class="form-control bg-light border-0 small" #nameState="ngModel" name="nombre" id="nombre" 
    [(ngModel)]="nombre" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click) = "buscarMovimientos()">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
<ul class="navbar-nav ml-auto">
  <li class="nav-item no-arrow mx-1">
    <a class="btn btn-light btn-icon-split" routerLink="nuevo">
      <span class="icon text-gray-600"><i class="fas fa-arrow-right"></i></span>
      <span class="text">Nuevo movimiento</span>
    </a>
  </li>
</ul>
</nav>
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{msn.titulo}}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>{{msn.fecha}}</th>
              <th>{{msn.nombre}}</th>
              <th>{{msn.tipo}}</th>
              <th>{{msn.importe}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movimiento of aMovimientos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>{{movimiento.fecha  | date:'dd/MM/yy'}}</td>
              <td>{{movimiento.nombre}}</td>
              <td>
                  <span *ngIf="movimiento.tipo == 'GA'">{{msn.gasto}}</span>
                  <span *ngIf="movimiento.tipo == 'IN'">{{msn.ingreso}}</span>
              </td>
              <td>{{movimiento.importe | currency:'EUR'}}</td>
              <td>
                <span class="left">
                  <a href="#" routerLink="borrar"><i class="far fa-trash-alt"></i></a>
                  &nbsp;
                  <a (click) = editar(movimiento.id) class="pointer"><i class="far fa-edit"></i></a>
              </span>
              </td>
            </tr>
            <tr *ngIf="errors.length>0">
                <td colspan="5">
                    <span *ngFor="let error of errors"> {{error.fecha}} {{error.estado}} {{error.mensaje}}</span>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ngb-pagination style="float: right;" [(page)]="page" [pageSize]="pageSize" [collectionSize]="aMovimientos.length"></ngb-pagination>
    </div>       
  </div>
</div>
      

